In [8]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_excel('airbnb.xlsx').reset_index(drop=True)
df = df.drop("Unnamed: 0", axis = 1)
df["test_var"] = range(0, 20)

In [38]:
df.head()

,price,check_in,check_out,names,full_names,test_var
0,"ﺩ.ﺇ13,183 ﺩ.ﺇ11,379 monthﺩ.ﺇ11,379 per month, ...",2023-11-02,2023-11-30,Apartment in Dubai Marina,1BR Apartment in Dubai Marina,0
1,"ﺩ.ﺇ24,706 ﺩ.ﺇ17,127 monthﺩ.ﺇ17,127 per month, ...",2023-11-02,2023-11-30,Vacation home in Dubai Marina,Waterfront Studio in Dubai Marina,1
2,"ﺩ.ﺇ6,011 monthﺩ.ﺇ6,011 per month",2023-11-02,2023-11-30,Room in Dubai Marina,Waterfront Massive bedroom heart marina,2
3,"ﺩ.ﺇ22,862 monthﺩ.ﺇ22,862 per month",2023-11-02,2023-11-30,Apartment in Dubai,Host & Stay | Emaar Beachfront 1BR- Dubai Marina,3
4,"ﺩ.ﺇ19,594 monthﺩ.ﺇ19,594 per month",2023-11-02,2023-11-30,Apartment in Dubai Marina,Gorgeous Marina View One Bed Apartment (B-05),4

In [23]:
def dropna_func(df):
    return df.dropna()

In [33]:
# df - датафрейм с данными
# iter - список названий колонок, по которым группируем
# agg - колонка, которую агрегируем
# agg_oper - операция агрегация (mean, sum, count, etc...)
# sort - опциональный параметр если нужна сортировка (True - по возрастанию, False - по убыванию)
def aggregation(df, iter, agg, agg_oper, sort = None):
    agg = str(agg)
    agg_oper = str(agg_oper)
    if sort is not None:
        return df.groupby(iter, as_index = False).agg({agg: agg_oper}).sort_values(by = agg, ascending = sort)
    else:
        return df.groupby(iter, as_index = False).agg({agg: agg_oper})

In [47]:
def normalize(col):
    col = (col - np.mean(col)) / np.std(col)
    return col